<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <ul>
    <% for (shortUrl in urls) { %>
      <li>
        <form method="POST" action="/urls/<%= shortUrl %>/delete">
          <%= [shortUrl] %> &#8594 <a href="/u/<%= shortUrl %>"><%= urls[shortUrl].long %></a>
          <a href="/urls/<%= shortUrl %>"><span>Edit</span></a>
          &emsp;
          <input type="submit" value="Delete"/>
        </form>
      </li>
    <% } %>
    <br>
    <a href="/urls/new"><span>Create a New Short Link</span></a>
  </ul>
</body>
</html>
